springbootProject/springbootProject-model/target/
springbootProject/springbootProject-dao/target/maven-archiver/pom.properties
springbootProject/springbootProject-dao/target/
springbootProject/springbootProject-utils/target/
springbootProject/.idea/
*.iml
springbootProject/springbootProject-service/target/
*.log
